---
layout: default
---
<!DOCTYPE html>
<html>

<head>
    <style>
        #contact-form {
            margin: auto;
            display:block;
        }
    </style>
</head>

<body>
    <h2><a href="#" style="color: inherit;">Let's connect</a></h2>
    <article>
        <!-- Social -->
        {%- if page.social %}
        <div class="social">
            <div class="contact-icons">
                {% include social.html %}
            </div>

            <div class="contact-note">
                {{ site.contact_note }}
            </div>

        </div>
        {%- endif %}
    </article>
    <br><br>
    <h2><a href="#" style="color: inherit;">Get in Touch</a></h2>
    <iframe id="contact-form"
        src="https://docs.google.com/forms/d/e/1FAIpQLSds5dMvJMURcvCh0YTj_3uuNyiic1KN-Uw1uGjOx_dYN46WcA/viewform?embedded=true"
        width="640" height="1017" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
</body>

</html>